/* CSS Reset Starts */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
  overflow: hidden;


  /* text not to be selectable */
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  overflow-y: hidden;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}



/* importing fonts */
@font-face {
  font-family: Gotham-fonts;
  src: url(fonts/Gotham\ Book.otf);
}


/* applying font and font size */
body {
  font-family: Gotham-fonts;
  font-size: 1rem;
  overflow: hidden;
}

/* our main container */
.main {
  display: flex;
  flex-flow: column nowrap;
  gap: 2px;

}

/* our top advertisement container*/
.main-top-ad__container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  z-index: 4;
  position: fixed;
  justify-content: space-around;
  background-color: #fff;
  gap: 3px;
  color: rgb(47, 47, 47);
}

/* our top advertisement text*/
.main-top-ad__text {
  color: #606061;
  text-align: center;
  padding: 17px 20px;
  line-height: 1.4em;
  letter-spacing: 0.5px;
  font-size: 14px;
}

/* our top advertisement link*/
.main-top-ad__text a {
  color: #606061;
  font-weight: 100;
  text-underline-offset: 3px;
}


/* styling menubar container */
.main-menubar {
  width: 100%;
  margin-top: 60px;
  position: fixed;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 15px 3rem;
  align-items: center;
  height: 50px;
  z-index: 4;
  font-weight: 600;
}


/* styling menubar hero image */
.main-menubar-left-items-hero__img {
  position: relative;
  width: 8rem;
  height: auto;
}

/* styling menubar hero container */
.main-menubar-left-items-hero__container {
  width: auto;
  height: auto;
  margin-left: -2rem;
}


/* styling menubar middle items */
.menubar__mid-items {
  display: flex;
  flex-flow: row;
  gap: 2.8rem;
}

.menubar-mid-items__item:hover {
  cursor: pointer;
  background-color: rgba(62, 63, 68, 0.07);
  border-radius: 3px;
}

.menubar-mid-items__item a {
  text-decoration: none;
}




/* styling menubar right items */
.menubar__right-items {
  display: flex;
  flex-flow: row;
  gap: 2rem;
}





/* global styling for anchor element */
a {
  color: #3E3F44;
  font-weight: 600;
}

a:hover {
  text-decoration-thickness: 2px;
}






/* left style our main slider container */
.main-slider {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  height: 100vh;
}


/* apply reaction and styling for each slide of slider */
.main-slider__slide-one,
.main-slider__slide-two,
.main-slider__slide-three,
.main-slider__slide-four,
.main-slider__slide-five,
.main-slider__slide-six {
  scroll-snap-align: center;
  width: auto;
  height: 100vh;
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  background: url(images/Desktop-Model-Y.jpeg) no-repeat center / cover;
}



/* set background for each slide */
.main-slider__slide-two {
  background: url(images/Desktop-Model-3.jpeg) no-repeat center / cover;
}

.main-slider__slide-three {
  background: url(images/Desktop-Model-S.jpeg) no-repeat center / cover;
}

.main-slider__slide-four {
  background: url(images/Desktop-Model-X.jpeg) no-repeat center / cover;
}

.main-slider__slide-five {
  background: url(images/Desktop-SolarPanels.jpeg) no-repeat center / cover;
}

.main-slider__slide-six {
  background: url(images/Desktop-SolarRoof.jpg) no-repeat center / cover;
}




/* our empty div for better managing space */
.space-one {
  height: 20vh;
  width: auto;

}

.space-two {
  height: 55vh;
  width: auto;
}

.space-three {
  height: 20vh;
  width: auto;
}



/* set properties for slide container , 
slide title , slide link , 
slide bottons */
.main-slide_container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

.slide__title {
  color: #1f1f21;
  font-size: 2.3rem;
}

.slide__link {
  font-weight: 100;
  font-size: 90%;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.slide-button__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: auto;
  transition: opacity 2s;

}

.slide-button__container:hover {
  opacity: 0.7;
}


.slide-botton__left {
  opacity: 90%;
  padding: 7px 80px;
  font-weight: bold;
  border-color: transparent;
  border-radius: 3px;
  color: #fff;
  background-color: #3E3F44;
  font-size: 0.9rem;
}

.slide-botton__left:hover {
  cursor: pointer;
  color: #fff;
  opacity: 85%;
  background-color: #000;
}

.slide-botton__right:hover {
  color: #fff;
  background-color: #000;
  opacity: 85%;
  cursor: pointer;
}

.slide-botton:hover {
  cursor: pointer;
  color: #000;
  opacity: 85%;
  background-color: #fff;
  border: 0.01em solid #000;
}

.slide-botton__right {
  opacity: 70%;
  padding: 7px 78px;
  font-size: 0.9rem;
  font-weight: bold;
  border-color: transparent;
  border-radius: 3px;
  color: #000000;
  background-color: #fff;

}




/* set properties for seventh slide separativly */
.main-slider__slide-seven {
  scroll-snap-align: center;
  width: auto;
  height: 100vh;
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  background: url(images/cable.jpeg) no-repeat;
  background-position: 50% 60%;
  background-size: 100%;


}

.main-slider__slide-seven .space-one {
  height: 35vh;
}

.main-slider__slide-seven .space-two {
  height: 80vh;
}

.main-slider__slide-seven .space-three {
  height: 15vh;
}

.main-slider__slide-seven .space-four {
  height: 20vh;
}

.main-slider__slide-seven .slide__title {
  font-size: 2.5rem;
}

.seventh-slide-botton{
  padding: 7px 95px;
  font-size: 0.9rem;
  font-weight: bold;
  border-color: transparent;
  border-radius: 3px;
  color: #fff;
  background-color: rgb(36, 36, 36);
  z-index: 6;
}





/* let style our footer */
.main-footer__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  position: relative;
  z-index: 5;
  gap: 15px;
  font-size: 12px;
  font-weight: 100;
  word-spacing: 3px;
  margin-right: 2rem;
}

.main-footer__list li {
  list-style: none;
}

.main-footer__list li a {
  text-decoration: none;
}



/* configuration for screens */

/* medium PC screens */
@media only screen and (max-width: 1200px) {

  .menubar__mid-items,
  .menubar-right-items__shop,
  .menubar-right-items__account {
    display: none;
  }

  .main-menubar-left-items-hero__img {
    position: static;
    width: 8rem;
  }

}

/* smaller PC or Ipad screens */
@media only screen and (max-width:800px) {

  /* adding portrait photos instead of landscape for better resolution*/
  .main-slider__slide-one {
    background: url(images/mobile-model-y.jpeg) no-repeat center / cover;
  }

  .main-slider__slide-two {
    background: url(images/mobile-model-3.jpeg) no-repeat center / cover;
  }

  .main-slider__slide-three {
    background: url(images/mobile-model-s.jpeg) no-repeat center / cover;
  }

  .main-slider__slide-four {
    background: url(images/mobile-model-x.jpeg) no-repeat center / cover;
  }

  .main-slider__slide-five {
    background: url(images/Mobile-solar-panel.jpeg) no-repeat center / cover;
  }

  .main-slider__slide-six {
    background: url(images/mobile-solar-roof.jpg) no-repeat center / cover;
  }

  .main-slider__slide-seven {
    background: url(images/mobile-cable.jpeg) no-repeat;
    background-position: 50% 25%;
    background-size: 60%;
  }

}

/* phone screens and landscape and portrait rotations settings*/
@media only screen and (max-width:600px) {

  .slide-botton__right {
    padding: 7px auto;
  }

  .slide-botton__left {
    padding: 7px auto;
  }
}

@media only screen and (max-height:450px) {
  .space-one {
    height: 10vh;
    width: auto;
  }

  .space-two {
    height: 50vh;
    width: auto;
  }

  .space-three {
    height: 50vh;
    width: auto;
  }
}

@media only screen and (max-width:450px) {
  .main-menubar {
    margin-top: 7rem;
  }

  .space-top {
    height: 10rem;
  }

  .space-one {
    height: 40vh;
    width: auto;

  }

  .space-two {
    height: 50vh;
    width: auto;
  }

  .space-three {
    height: 60vh;
    width: auto;
  }

  .slide-botton__left,
  .slide-botton__right {
    padding: 10px;
  }

  .main-slider__slide-one,
  .main-slider__slide-two,
  .main-slider__slide-three,
  .main-slider__slide-four,
  .main-slider__slide-five,
  .main-slider__slide-six,
  .main-slider__slide-seven {
    height: 100vh;
  }

}