/* CSS Reset Starts */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
  overflow: hidden;


  /* text not to be selectable */
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  overflow-y: hidden;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

html {

  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

body {

  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.main {
  display: flex;
  flex-flow: column nowrap;
  gap: 2px;

}

main>div {
  display: inline-block;
  aspect-ratio: 1/1;
  scroll-snap-align: center;
}

.main-top-ad__container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  z-index: 4;
  position: fixed;
  justify-content: space-around;
  background-color: #fff;
  gap: 3px;
  color: rgb(47, 47, 47);
}

.main-top-ad__text {
  text-align: center;
  padding: 17px 0px;
  letter-spacing: 1px;
  line-height: 1.3em;
  font-size: 90%;
  font-weight: 600;
}

.main-menubar {
  width: 100%;
  margin-top: 60px;
  position: fixed;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 15px 3rem;
  align-items: center;
  height: 50px;
  z-index: 4;
  font-weight: 600;
}

.main-menubar__left-items {
  display: flex;
  flex-grow: 0.18;
  flex-basis: 0;
}

.main-menubar-left-items-hero__img {
  position: absolute;
  top: -1rem;
  width: 8rem;
  z-index: 7;
}

.menubar__mid-items {
  display: flex;
  flex-flow: row;
  gap: 2.8rem;


}

.menubar-mid-items__item {
  padding: 4px;
}

.menubar-mid-items__item:hover {
  cursor: pointer;
  background-color: rgba(62, 63, 68, 0.07);
  border-radius: 3px;


}

.menubar__right-items {
  display: flex;
  flex-flow: row;
  gap: 2rem;

}







.main-slider {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  overflow: auto;
  scroll-snap-type: y mandatory;
  height: 100vh;
  gap: 7rem;
}

.main-slider__slide {
  scroll-snap-align: start;
  width: auto;
  height: 100vh;
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}



#slide-one {
  padding-top: 0;
}
/* #space{
  width: 100%;
  height: 400px;
  background-color: #3E3F44;
  position: absolute;
} */

#cable{
  margin-top: 25rem;
}

.slide__title {
  top: 2.5em;
  font-size: 2.8rem;
  position: absolute;
}

.slide__link {
  position: absolute;
  top: 11em;

}

.slide-botton__left {
  padding: 6px 75px;
  font-weight: bold;
  border-color: transparent;
  border-radius: 3px;
  color: #fff;
  background-color: #3E3F44;
  font-size: 0.9rem;
  margin-right: 15px;
}

.slide-botton__left:hover{
  cursor: pointer;
  color: #fff;
  opacity: 85%;
  background-color: #000;
}

.slide-botton__right:hover{
  color: #fff;
  background-color: #000;
  opacity: 85%;
  cursor: pointer;
}

.slide-botton:hover{
  cursor: pointer;
  color: #000;
  opacity: 85%;
  background-color: #fff;
  border: 0.01em solid #000;
}

.slide-botton__right {
  padding: 7px 75px;
  font-size: 0.9rem;
  font-weight: bold;
  border-color: transparent;
  border-radius: 3px;
  color: #3E3F44;
  background-color: #fff;
}

.slide-button__container {
  top: 40em;
  position: absolute;
  gap: 6px;

}

.slide-botton {
  margin-bottom: 38rem;
  padding: 7px 95px;
  font-size: 0.9rem;
  font-weight: bold;
  border-color: transparent;
  border-radius: 3px;
  color: #fff;
  background-color: rgb(36, 36, 36);
  z-index: 6;

}

.menubar-mid-items__item a {
  text-decoration: none;
}



.phone__image {
  display: none;
}

a {
  color: #3E3F44;
  font-weight: 600;
}

a:hover {
  text-decoration-thickness: 2px;
}


.main-footer__list {
  top: 90%;
  display: flex;
  flex-flow: row nowrap;
  width: auto;
  height: auto;
  position: absolute;
  z-index: 5;
  gap: 20px;
  font-size: 0.9rem;
}

.main-footer__list li {
  list-style: none;
}

.main-footer__list li a {
  text-decoration: none;
}


@media only screen and (max-width: 1200px) {

  .menubar__mid-items,
  .menubar-right-items__shop,
  .menubar-right-items__account {
    display: none;
  }

  .main-menubar-left-items-hero__img {
    position: static;
    width: 8rem;
  }

}

@media only screen and (max-width: 800px) {
  .slide__title {
    top: 7em;
    font-size: 2rem;
    position: absolute;
  }

  .slide__link {
    position: absolute;
    top: 9em;

  }

  .slide-button__container {
    position: absolute;
  }

  .main-slider__slide {
    padding: 0;
    margin: -2rem;
  }



}